#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#baustelle {
  @extend #container;
  background: url('../../../assets/backgrounds/baustelle.jpg');
  background-size: cover;

  height: 100%;
  padding-top: 40%;

  vertical-align: middle;
}

.modal-card {
  max-width: 42vw;
  margin-left: 29vw;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  height: 80vh;
}

.modal-card img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer {
  text-align: center;
  vertical-align: text-bottom;
}

footer img {
  max-width: 250px;
  max-height: 180px;
}
