<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">ResidentialReporter</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="modal-card">
        <img src="assets/images/logo-rr.svg" alt="Residential Reporter Logo">
        <br>
        <h1>Willkommen beim Residential Reporter!</h1>
        Ein Projekt zur Optimierung des Wohnraums durch Aggregation und Erforschung
        von offenen Daten.

        Die Residential Reporter App wird den Bürger:innen die Möglichkeit geben,
        mehr auf die Stadtentwicklung Einfluss zu nehmen und sich besser konstruktiv
        zu beteiligen.

        <h1>Baustelle!</h1>
        <p>
            Der Residential Reporter ist noch lange nicht fertig, aber dies ist
            der erster Prototyp. Die Entwicklung zur fertigen Plattform findet
            in den nächsten Monaten statt. Weil der Reporter Opensource Software
            ist, laden wir Dich ein, bei der Entwicklung mitzuhelfen. Dazu ist
            <a href="https://github.com/residentialreporter/">
                der gesamte source code auf Github verfügbar.
            </a>
            <br>

            Wir hoffen, im dritten oder vierten Quartal mit allen geplanten
            Funktionen am Start sein zu können.

        </p>
        <hr>
        <p>
            <strong>Wenn Du hier bist zum Testen:</strong>
            Bitte erlaube
            <i>
                <a href="https://catchjs.com" target="_blank">catchjs.com</a>
            </i>
            das Ausführen von Javascript.
            Dies dient der automatischen Meldung von auftauchenden Fehlern.
            Weil wir ein Opensource-Projekt sind, stellt CatchJS uns diesen
            erfreulicherweise GDPR/DSGVO-konformen Dienst kostenlos zur
            Verfügung.
            <br>
            Vielen Dank dafür!
        </p>
    </div>

    <footer>
        Das Vorhaben wurde mit Mitteln des Bundesministeriums für Bildung und
        Forschung unter dem Förderkennzeichen 01IS20S42 gefördert.
        Die Verantwortung für den Inhalt dieser Veröffentlichung liegt bei den
        Autoren.
        <br>
        <img src="assets/images/logo-bmbf.svg"
             alt="Gefördert durch das Bundesministerium für Bildung und Forschung">
        <img src="assets/images/PrototypeFund-P-Logo.png"
             alt="Prototypefund">
    </footer>
</ion-content>
