<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">ResidentialReporter</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="baustelle">
        <div class="modal-card">
            <h1>Baustelle!</h1>
            <p>
                <strong>Wenn Du hier bist zum Testen:</strong>
                Bitte erlaube <i>catchjs.com</i> das ausführen von Javascript.
                Dies dient der automatischen Meldung von auftauchenden Fehlern.
                Weil wir ein Opensource-Projekt sind, stellt CatchJS uns diesen
                erfreulicherweise GDPR/DSGVO-konformen Dienst kostenlos zur
                Verfügung.
                <br>
                Vielen Dank dafür!
            </p>
        </div>
    </div>

</ion-content>
