<div class="regions" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxFlex.lg="65%"
         fxFlex.md="70%"
         fxFlex.sm="80%"
         fxFlex.xl="60%"
         fxFlex.xs="90%">
        <h2>{{ 'Region' | translate }}</h2>
        <app-region-form (regionChange)="onRegionChange($event)"
                           [region]="region | async"></app-region-form>
        <div class="actions" fxLayout="row" fxLayoutAlign="end center">
            <button color="secondary" mat-button routerLink="/regions">{{ 'Cancel' | translate }}</button>
            <button (click)="onSave()"
                    [disabled]="!valid"
                    color="primary"
                    mat-raised-button>{{ 'Save' | translate }}
            </button>
        </div>
    </div>
</div>
