<mat-card>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="passwordChangeForm">
            <h2>{{ 'Change password' | translate }}</h2>

            <mat-form-field class="full-width-input">
                <input formControlName="password"
                       matInput
                       placeholder="{{ 'New Password' | translate }}"
                       required>
                <mat-error>
                    {{ 'Please provide a valid password' | translate }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <input formControlName="passwordConfirm"
                       matInput
                       placeholder="{{ 'Confirm Password' | translate }}"
                       required>
                <mat-error>
                    {{ 'Please provide a valid password confirmation' | translate }}
                </mat-error>
            </mat-form-field>
            <button color="primary" mat-raised-button>{{ 'Change password' | translate }}</button>
        </form>
    </mat-card-content>
</mat-card>
